* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #262626;
}

body {
    background-color: #e2e8f0;
    height: 100vh;
    display: grid;

    grid-template-rows: 100px 1fr 50px;
}

/***Header styling***/
.header {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px #cbd5e1;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: 600;
}
/***End header styling***/


/***Main styling***/

.main {
    padding: 20px 15% 20px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-button-wrapper {
    padding: 20px 0 50px 0;
}

.add-button {
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
    border: none;
    background-color: #fafafa;
    font-size: 1.5rem;
    box-shadow: 3px 3px 5px #cbd5e1, -3px -3px 5px #cbd5e1;
}

.add-button:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.library-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 75px;
}

.book-card {
    max-height: 290px;
    max-width: 340px;
    background-color: #fafafa;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 5px 5px 10px #cbd5e1, -5px -5px 10px #cbd5e1;
    display: grid;
    grid-template-rows: repeat(1fr, 6);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.book-card * {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    /*Prevent text overflow and wrapping from changing card size*/
    white-space: nowrap;
    overflow: hidden;
}

.book-card button {
    border: none;
    border-radius: 20px;
    height: 2.5rem;
}

.remove {
    background-color: #e2e8f0;
}

.book-card button:hover {
    border: 1px black solid;
    cursor: pointer;
}

.read {
    background-color: #bbf7d0;
}

.not-read {
    background-color: #fecaca;
}
/***End main styling***/


/***Footer styling***/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 20px 20px;
}

.footer-content {
    display: flex;
    align-items: center;
}

.odin-link {
    padding: 0 2rem;
}

.git-logo {
    width: 40px;
}

.git-logo:hover {
    cursor: pointer;
}
/***End footer styling***/


/***New Book Menu Styling***/

.gray-out {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    
    /*do not show by default. script.js changes to 'block' when should be visible*/
    display: none;
    
}
.new-book-wrapper {
    height: 400px;
    width: 350px;
    background-color: #e2e8f0;
    border-radius: 20px;
    padding: 25px;
    
    position:fixed;
    top: 250px;
    left: calc(50% - 175px);
    z-index:3;
    
}

.new-book-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

.new-book-form input {
    height: 2rem;
    width: 80%;
    border: none;
}

#is-read {
    width: 20px;
}

.status-wrapper {
    display: flex;
    align-items: center;
}

form button {
    font-size: 1.5rem;
    width: 10rem;
    height: 2.5rem;
    background-color: #bbf7d0;
    border: none;
    border-radius: 20px;
}

form > div.form-title {
    font-size: 2rem;
    font-weight: bold;
}

form input {
    border-radius:8px;
    padding-left: 10px;
    height: 2rem;
    font-size: 1.5rem;
}

form input::placeholder {
    font-size: 1.25rem;
}

form button:hover {
    border: 1px black solid;
    cursor: pointer;
}


/***End new book styling***/